rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSameUser(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    match /users/{uid} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /settings/{uid} {
      allow read: if isSameUser(uid);
      allow write: if isSameUser(uid);
    }
  }
}